<h2>Search An Employee</h2>
<hr>
<span>Enter Emp id</span>
<input type="text" name="empid" #empIdComp>
<button (click)="findEmp(empIdComp.value)">Find</button>

<!--
<hr>
<div *ngIf="emp!=undefined">
<h1> Employee Details</h1>

<table>
    <tr>
        <td>Employee Id</td>
        <td>{{emp.empid}}</td>
    </tr>
    <tr>
        <td>Employee Name</td>
        <td>{{emp.empName}}</td>
    </tr>
    <tr>
        <td>Employee City</td>
        <td>{{emp.city}}</td>
    </tr>
    <tr>
        <td>Salary</td>
        <td>{{emp.salary}}</td>
    </tr>
</table>
</div>
<hr>

<a routerLink="/emplist">Back to Employee List Page</a>
-->